/* Global Styles */
body {
    font-family: 'Georgia', serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand, .nav-link {
    color: #555 !important;
    font-family: 'Dancing Script', cursive;
}

.navbar-brand:hover, .nav-link:hover {
    color: #333 !important;
}

/* Banner Styles */
.banner {
    position: relative;
    background: url('./fotos/foto1.jpg') no-repeat local center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

.banner-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.banner h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin: 0;
}

/* Footer Styles */
footer {
    background-color: #f9f9f9;
    color: #333;
}

footer a {
    color: #333;
}

footer a:hover {
    color: #777;
}

footer h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

/* Main Content Styles */
.container {
    margin-top: 20px;
}

h4 {
    font-family: 'Dancing Script', cursive;
    color: #555;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}
h5 {
    font-family: 'Dancing Script', cursive;
    color: #555;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.card-body {
    text-align: center;
}

.card-title {
    font-family: 'Georgia', serif;
    color: #333;
    white-space: nowrap;       /* Impede a quebra de linha */
    overflow: hidden;          /* Esconde o texto que ultrapassa os limites */
    text-overflow: ellipsis;   /* Exibe reticências (...) para o texto que é cortado */
}

.card-text {
    color: #777;
}

.btn-primary {
    background-color: #54794F !important;
    border-color: #54794F!important;
    font-family: 'Dancing Script', cursive;
}
.btn-outline-primary {
    background-color: #8FA88C !important; /* Verde suave */
    border-color: #6D8C68 !important;    /* Tom ligeiramente mais escuro de verde */
    font-family: 'Dancing Script', cursive;
    color: #ffffff;           /* Cor do texto em branco para melhor contraste */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave */
}

.btn-outline-primary:hover {
    background-color: #769675 !important; /* Um verde mais intenso no hover */
    border-color: #5E7F5B !important;     /* Bordas mais escuras no hover */
}

/* Estado selected */
.btn-outline-primary.selected {
    background-color: #6D8C68 !important; /* Cor mais intensa quando selecionado */
    border-color: #54794F !important;     /* Bordas mais escuras no estado selecionado */
    color: #FFFFFF;            /* Mantém o texto branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil para destaque */
}

.btn-primary:hover {
    background-color: #54794F !important;
    border-color: #54794F !important;
}

/* Product Image Styles */
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Pagination Styles */
.pagination .page-item.active .page-link {
    background-color: #54794F;
    border-color: #54794F;
}

.pagination .page-link {
    color: #54794F;
}

.pagination .page-link:hover {
    color: #54794F;
}

/* Additional Styles */
.container p {
    font-family: 'Georgia', serif;
    font-size: 18px;
    color: #555;
}

ul.list-unstyled li {
    font-family: 'Arial', sans-serif;
    color: #777;
}

/* Box shadow for cards */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Wedding Theme Decorations */
body::before {
    content: "";
    background: url('https://www.transparenttextures.com/patterns/binding-dark.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
}

header::after {
    content: "";
    display: block;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(111, 138, 108, 1) 100%);
    margin-top: 5px;
}

.progress {
    height: 30px;
    background-color: #e9ecef;
}

.progress-bar {
    font-size: 1rem;
    line-height: 30px;
}

.input-size {
    width: 10%; /* 3 colunas de 12 = 25% de largura */
}

/* Responsive Styles */
@media (max-width: 767px) {

    .banner {
        position: relative;
        background: url('./fotos/foto1.jpg') no-repeat top center; /* Changed center center to top center */
        background-size: cover;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .btn-group {
        display: flex;
        flex-direction: column;
    }
    
    .btn-group .btn {
        margin-bottom: 10px;
    }
    
}
